html
  head
    title Dance Academy
    block scripts
    style
        include ../static/style.css
  body
    block bodyContent
    block foot
      #footer
        | Copyright 2019 HarryDance Academy | All Rights Reserved